@import "../../../styles/sass/abstracts/variables.module.scss";

.project {
    border: 1px solid $color-white;
    padding: 1rem;
    width: 80rem;
    background: $color-black-matte;
    margin-bottom: 2rem;
    font-size: $default-font-size;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.headerElement {
    display: inline;
}

@media (max-width: 500px) {
    .project {
        width: 90%;
        font-size: 1.5rem;
    }
}