@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/abstracts/mixins";

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: $color-grey-light-2;
    background-image: linear-gradient(100deg, transparent 25%, rgba($color-primary, .5) 50%, rgba($color-primary, 1) 95%);
    padding: 1rem;
    max-width: 85rem;
    border-radius: 5px;

    @include respond(phone) {
      background-image: linear-gradient(100deg, transparent 30%, rgba($color-primary, .5) 60%, rgba($color-primary, 1) 95%);
    }
  }

.inputGroup {
  width: 90%;
}

.contactFormInput {
  font-family: inherit;
  font-size: $default-font-size;
  width: 100%;
  padding: 1.6rem 2rem;
  border: none;
  border-radius: 5px;
  margin-bottom: $margin-bottom-small;
  border-bottom: 3px solid transparent;
  transition: all .3s;
  box-shadow: 0 .5rem 2rem rgba($color-black, .1);

  &:nth-of-type(1) {
    margin-top: $margin-top-small;
  }

  &:focus {
    outline:none;
    border-bottom: 3px solid $color-primary;
  }
}

.contactFormLabel {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  display: block;
  padding-left: 2rem;
  margin-bottom: .2rem;
  opacity: 1;
  transition: all .3s;
}

//__input:placeholder-shown ~ &__label
.contactFormInput:placeholder-shown ~ .contactFormLabel {
  transform: translateY(-5rem);
  opacity: 0;
}

.contactFormLabelTextArea {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  display: block;
  padding-left: 2rem;
  margin-bottom: .2rem;
  opacity: 1;
  transition: all .3s;
}

//__input:placeholder-shown ~ &__label
.contactFormInput:placeholder-shown ~ .contactFormLabelTextArea {
  transform: translateY(-12rem);
  opacity: 0;
}

.contactFormButton {
  margin: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 .5rem 2rem rgba($color-black, .1);

  &:not([disabled]) {
    color: $color-black-matte;
  }

  &:hover:not([disabled]) {
    background-color: $color-background-dark;
    color: $color-grey-light-2;
    cursor: pointer;
  }
}
