@import "../../styles/sass/abstracts/variables.module.scss";

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    padding: 1rem;
    width: 85rem;
  }

@media (max-width: 600px) {
  .contactForm {
    width: 90%;
  }
}