@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/abstracts/mixins";

.project {
    display: flex;
    max-width: 100%;
    height:25rem;
    margin: auto;
    background-color: $color-black-matte;
    margin-bottom: $margin-bottom-medium;
    border: 1px solid $color-grey-light-2;
    cursor: pointer;
    font-size: $default-font-size;
}

.projectDetails {
    padding: 0 2rem;
}

.projectDetailsTagsList {
    padding-left: 0;
    list-style: none;
    list-style-position: outside;
    display: flex;
    margin-bottom: $margin-bottom-small;
}

.tag {
    padding-right: 1.5rem;
    cursor: pointer;
}

.imgContainer {
    width: 40%;
    overflow: hidden;
}

.img {
    width: 100%;
}

@include respond(tab-port) {
    .project {
        width: 35.1rem;
        margin: auto;
        margin-bottom: $margin-bottom-medium;
        padding-bottom: 0.5rem;
        display: block;
        height: auto;
    }

    .projectDetails {
        padding: 0 1rem;
    }

    .imgContainer {
        width: 100%;
    }
}