.project {
    display: flex;
    width: 850px;
    height: 200px;
    margin: auto;
    background-color: rgb(20,20,20);
    margin-bottom: 2rem;
    border: 1px solid white;
    cursor: pointer
}

.projectDetails {
    padding-left: 2rem;
    padding-right: 2rem;
}

.projectDetailsTagsList {
    padding-left: 0;
    list-style: none;
    list-style-position: outside;
    display: flex;
}

.tag {
    padding-right: 1rem;
    font-size: small;
    cursor: pointer;
}

@media(max-width: 650px) {
    .project {
        width: 350px;
        margin: auto;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        display: block;
        height: auto;
    }
    .projectDetails {
        padding: 0 1rem 0 1rem;
    }
    .img {
        min-width: 348px;
        /* object-fit: cover; */
    }
}

.img {
    width: 300px;
    object-fit: fill;
}