@import "../../styles/sass/abstracts/variables.module.scss";

.featuredProject {
    text-align: center;
    background-color: $color-black-matte;
    width: 30rem;
    cursor: pointer;
    margin-bottom: $margin-top-small;
    border: 1px solid $color-grey-light-2;
}

.featuredProjectInfo {
    padding: 0 0.5rem 0.5rem 0.5rem;
}