@import "../../styles/sass/abstracts/mixins";

.featuredProjects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    margin-bottom: 1rem;
}

@include respond(tab-port) {
    .featuredProjects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        row-gap: 1rem;
        margin-bottom: 1rem;
    }
}

@include respond(phone) {
    .featuredProjects {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        margin-bottom: 1rem;
    }
}