@import "../../styles/sass/abstracts/mixins";
@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/abstracts/animations";

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;text-align: center;
    transition: all .2s;
}

#intro {
  transition: all .2s;
  animation: moveInBottom .4s ease-out .1s;
}

.img {
  max-height: 35rem;
  border-radius: 10%;
}

@include respond(tab-port) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
}

.name {
  color: $color-primary;
}

@include respond(phone) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  .img {
    max-height: 30rem;
  }
}