.move-in-left {
    animation: moveInLeft .7s ease-out .2s;
    animation-fill-mode: backwards;
  }

.move-in-right {
    animation: moveInRight .7s ease-out .2s;
    animation-fill-mode: backwards;
}
  
  @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        opactity: .5;
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }
  
  @keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        opactity: .5;
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }