//colors
$grey-light: rgb(238, 238, 238);

//spacing
$spacing-xxsmall: 0.5rem;
$spacing-xsmall: 1rem;
$spacing-small: 1.5rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
$spacing-xlarge: 4rem;
$spacing-xxlarge: 5rem;

//font size
$font-small: 1.4rem;
$font-default: 1.6rem;
$font-medium: 2.2rem;
$font-large: 3.5rem;
$font-xlarge: 5rem;

//utilities
$border-radius-xsmall: 0.7rem;
$border-radius-small: 1rem;
$border-radius: 1.6rem;

//shadows
$shadow-std: 0px 4px 6px 0px rgba(168, 168, 168, 1);
$shadow-soft: 0px 6px 15px -8px rgb(25, 25, 25);
